.rb-category-card {
  margin-bottom: 5px;

  .panel-heading {
    cursor: pointer;
  }

  rb-feed-icon {
    padding: 0 5px 0 0;
    vertical-align: text-top;
    display: inline-block;
  }

  &.rb-category-card-open {
    .panel-heading {
      color: $banana-dark;
    }
  }

  .list-group-item {
    padding: 7px 10px 10px 5px;
  }

  .rb-category-card-unread {
    position: absolute;
    right: 7px;
    top: 13px;
    font-size: 12px;
  }

  .rb-category-card-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: 89%;
    vertical-align: bottom;
  }
}