rb-feed-timeline {
  position: relative;
  display: block;

  rb-feed-icon {
    margin-right: 10px;
  }

  .mue-image-card {
    cursor: pointer;
    display: inline-block;
    margin: 0 20px 20px 0;

    @include device {
      width: 100%;
      margin: 0 0 20px;
      display: block;

    }
  }

  .rb-feed-timeline-menu {
    position: absolute;
    right: 20px;
    top: 0;

    @include tablet {
      position: relative;
      top: 0;
      right: 0;
      margin: 10px 0 0;
    }
  }
}