<div class="form-group">
    <div ng-repeat="category in categories">
        <label for="{{category._id}}">
            <input type="checkbox" ng-model="selection.ids[category._id]" id="{{category._id}}" />
            {{category.name}}
        </label>
    </div>

    <form name="CategoryListAddForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Add category" ng-model="newCategory">
        </div>
        <div class="form-group">
            <button class="btn btn-action btn-lagoon btn-sm" ng-disabled="!newCategory" ng-click="createCategory()">
                Create category
            </button>
        </div>
    </form>
</div>