<mue-container>
    <mue-sidebar>
        <div class="rb-header">
            <div class="rb-header-user">
                {{::user.email}}
            </div>

            <ul class="rb-header-group-links">
                <li>
                    <a href="#test" ng-click="logout()">logout</a>
                </li>
            </ul>
        </div>

        <br/>

        <div class="mue-sidebar-wrapper">
            <button class="btn btn-lagoon btn-full-width" ng-click="addContentHadler()">
                <i class="fa fa-plus mue-icon"></i>
                Add new feeds
            </button>

            <br/>
            <br/>

            <rb-categories-feed rb-config="categoriesConfig"></rb-categories-feed>

            <br/>

            <ul class="rb-group-links" ng-if="categoriesConfig.categories.length">
                <li>
                    <a ui-sref="app.organize()">
                        <i class="fa fa-cog mue-icon"></i>
                        Organize
                    </a>
                </li>
            </ul>
        </div>
    </mue-sidebar>

    <mue-content>
        <ui-view></ui-view>
    </mue-content>
</mue-container>