rb-blade {
  .rb-blade-content {
    background: white;
    padding: 20px 100px;
    overflow: overlay;
    height: 100%;

    @include tablet {
      padding: 20px;
    }
  }

  .rb-blade-panel {
    display: block;
    width: 75%;
    background: white;
    transform: translateX(100%);
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s;

    @include tablet {
      width: 100%;
    }

    &.rb-blade-open {
      transform: translateX(0);
    }
  }

  .rb-blade-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
  }

  .rb-blade-navs {
    position: absolute;
    left: -45px;
    top: 0;

    li {
      background: white;

      button {
        padding: 11px 17px;
      }
    }

    @include tablet {
      left: 0;
    }
  }
}

body {
  &.rb-blade-open {
    overflow: hidden;
  }
}