rb-feed-timeline {
  position: relative;
  display: block;

  @include device{
    .mue-image-card {
      width: 100%;
      margin: 0;
      display: block;
    }
  }

  .mue-image-card {
    cursor: pointer;
    display: inline-block;
    margin: 0 20px 20px 0;
  }

  .rb-feed-timeline-menu {
    position: absolute;
    right: 20px;
    top: 0;


    @include tablet {
      position: relative;
      top: 0;
      right: 0;
      margin: 10px 0 0;
    }
  }
}