rb-organize {
  rb-organize-category {
    .panel-heading {
      cursor: pointer;
    }

    .mue-list-group {
      height: 150px;
      max-height: 150px;
      overflow: overlay;
    }

    .list-group-item {
      cursor: pointer;
    }
  }
}