.rb-post-list-item {
  padding: 0;

  img {
    max-width: 100%;
  }

  .rb-list-rss-close {
    padding: 15px 0;
    cursor: pointer;
  }

  .rb-post-list-item-description {
    padding: 10px 15px;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;

    &:hover {
      cursor: pointer;
      background: $coral;

      .rb-post-list-item-menu {
        display: block;
      }
    }
  }

  .rb-list-item-second-text {
    font-size: $second-font;
    color: $eight;
  }

  .rb-post-list-item-full {
    padding: 0 15px;
  }

  .rb-post-list-item-menu {
    position: absolute;
    background: $coral;
    right: 0;
    top: 0;
    height: 100%;
    padding: 10px;
    display: none;

    span {
      padding: 0 5px;
    }
  }
}