<div class="list-group-item rb-post-list-item">
    <div ng-if="!rbConfig.open" ng-click="showFullPost()" class="rb-post-list-item-description">
        <span ng-if ='rbConfig.user.isRead'>
            {{::rbConfig.title}}
        </span>
        <span ng-if ='!rbConfig.user.isRead'>
            <b>
                {{::rbConfig.title}}
            </b>
        </span>
        <span class="rb-list-item-second-text" ng-bind-html="rbConfig.description"></span>

        <div class="rb-post-list-item-menu">
            <!--<span>196 views</span>-->
            <span>{{::public_date}}</span>
        </div>
    </div>

    <div ng-if="rbConfig.open">
        <div class="rb-list-rss-close" ng-click="showDescriptionPost()"></div>
        <div class="rb-post-list-item-full">
            <h1>
                <a href="{{::rbConfig.link}}" target="_blank">{{::rbConfig.title}}</a>
            </h1>

            <div>
                <span>{{::public_date}}</span>
                <a href="#" ng-click="unread()">keep unread</a>
                <!--<span>23 minutes</span>
                <a href="http://google.com">#for brain</a>-->
            </div>

            <br/>
            <br/>

            <div ng-bind-html="rbConfig.body"></div>
        </div>
        <div class="rb-list-rss-close" ng-click="showDescriptionPost()"></div>
    </div>
</div>