<div ng-class="{'mue-image-card-read' : rbConfig.user.isRead}" class="panel mue-panel mue-image-card" ng-click="showFullPost()">
    <div class="mue-image-card-container">
        <img ng-if="rbConfig.title_image" src="{{rbConfig.title_image}}" alt="{{rbConfig.title}}">
    </div>
    <div class="panel-body">
        <div class="mue-image-card-title">
            <span ng-if='rbConfig.user.isRead'>
            {{::rbConfig.title}}
            </span>
            <span ng-if='!rbConfig.user.isRead'>
                <b>
                    {{::rbConfig.title}}
                </b>
            </span>
        </div>

        <div class="mue-image-card-content">
            {{description | limitTo: 100}}
        </div>

        <div class="mue-image-card-footer">
            <!--96 views-->
        </div>
    </div>
</div>