<div ng-class="{'rb-content-wrapper': viewType == 'magazine'}">
    <h1>
        <button type="button" ng-if="!feed.isFollowed" class="btn btn-sm btn-lagoon" ng-click="follow()">
            Follow
        </button>
        <rb-feed-icon rb-config="{domain: feed.domain}"></rb-feed-icon>
        {{feed.title}}
    </h1>

    <div>
        <a target="_blank" href="{{feed.domain}}">{{feed.title}}</a>
        <span> - </span>
        <button type="button" class="btn btn-xs" ng-click="readPosts()">read</button>
        <button type="button" class="btn btn-xs" ng-click="unreadPosts()">unread</button>
    </div>

    <div class="rb-feed-timeline-menu">
        <button type="button" class="btn btn-sm" ng-click="update()">
            <i class="fa fa-spinner mue-icon"></i>
            update
        </button>
        <button ng-class="{'btn-lagoon': viewType == 'list!disable'}" type="button" class="btn btn-sm"
                ng-click="setViewType('list')">
            <i class="fa fa-list mue-icon"></i>
        </button>
        <button ng-class="{'btn-lagoon': viewType == 'magazine!disable'}" type="button" class="btn btn-sm"
                ng-click="setViewType('magazine')">
            <i class="fa fa-list-alt mue-icon"></i>
        </button>
    </div>

    <br/>

    <div class="list-group rb-list-rss" ng-if="viewType == 'list'">
        <rb-post-list-item ng-if="viewType == 'list'" rb-config="{post: post, feed:feed}"
                           ng-repeat="post in posts"></rb-post-list-item>
    </div>

    <div ng-if="viewType == 'magazine'">
        <rb-post-magazine-item ng-repeat="post in posts" rb-config="post"></rb-post-magazine-item>
    </div>

    <br/>

    <button class="btn btn-action btn-lagoon"
            ng-disabled="!canLoad"
            ng-click="loadPosts()"
            ng-if="!noPosts && posts.length">Load more
    </button>

    <br/>
    <br/>
</div>