<div class="panel mue-panel mue-panel-dark rb-category-card">
    <div class="panel-heading">
        {{rbConfig.name}}
    </div>
    <div class="list-group mue-list-group mue-list-group-dark mue-list-group-flat">
        <div ng-class="{active: feed.active}" class="list-group-item" ng-repeat="feed in rbConfig.feeds">
            <span class="rb-category-card-title">
                {{feed.name}}
            </span>
            <span class="rb-category-card-unread">
                {{feed.unread}}
            </span>
        </div>
    </div>
</div>