<div ng-class="{'rb-content-wrapper': viewType == 'magazine'}">
    <h1>
        {{feed.title}}
    </h1>

    <div>
        <span>1 readers</span>
        <span> - </span>
        <button type="button" class="btn btn-xs" ng-click="readPosts()">read</button>
        <button type="button" class="btn btn-xs" ng-click="unreadPosts()">unread</button>
        <span> - </span>
        <a target="_blank" href="{{feed.url}}">to feed</a>

        <!--<a href="http://google.com">#programming</a>
        <a href="http://google.com">#for brain</a>
        <a href="http://google.com">#it</a>-->
    </div>

    <div class="rb-feed-timeline-menu">
        <button ng-class="{'btn-lagoon': viewType == 'list'}" type="button" class="btn btn-sm"
                ng-click="setViewType('list')">
            <i class="fa fa-list mue-icon"></i>
        </button>
        <button ng-class="{'btn-lagoon': viewType == 'magazine'}" type="button" class="btn btn-sm"
                ng-click="setViewType('magazine')">
            <i class="fa fa-list-alt mue-icon"></i>
        </button>
    </div>

    <br/>
    <br/>

    <div class="list-group rb-list-rss" ng-if="viewType == 'list'">
        <rb-post-list-item ng-if="viewType == 'list'" rb-config="{post: post, feed:feed}" ng-repeat="post in posts"></rb-post-list-item>
    </div>

    <div ng-if="viewType == 'magazine'">
        <rb-post-magazine-item ng-repeat="post in posts" rb-config="post"></rb-post-magazine-item>
    </div>

    <br/>

    <button class="btn" ng-click="loadPosts()" ng-if="!noPosts && posts.length">Load more</button>
    <br/>
    <br/>
</div>